body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
  float: left;
  padding: 4px;
  /* background-color: '#D7DCF2'; */
  background-color: grey;
  margin: 2px;
  color: white;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  font-size: 12px;
  text-align: center;
}

.label {
  float: left;
  margin-right: 4px;  
  position: relative;
  top: 8px;
}

.sequence {
  margin-left: 50px;
  margin-top: 50px;
}

.containerBox {
  margin: 15px;
  background: rgb(163, 163, 163);
  overflow: auto;
  text-align: left;
}

.controls i {
  margin: .2em;
  font-size: 27px;
  cursor: default;
}

.sequencer {
  overflow: auto;
  /* display: inline-block; */
}

.numbers {
  letter-spacing: 6px;
  padding-left: 6.5px;
}

.cell-no {
  position: relative;
}